<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GenerateFileLayout</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenerateFIleLayout</display-name>
    <servlet-name>GenerateFIleLayout</servlet-name>
    <servlet-class>com.layout.file.GenerateFIleLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateFIleLayout</servlet-name>
    <url-pattern>/GenerateFIleLayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFileLayout</display-name>
    <servlet-name>CreateFileLayout</servlet-name>
    <servlet-class>com.layout.file.CreateFileLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFileLayout</servlet-name>
    <url-pattern>/CreateFileLayout</url-pattern>
  </servlet-mapping>
</web-app>